img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

main {
  min-height: 100dvh;
  max-width: 100dvw;
  padding: 1rem;
  background-color: #1a1a1a;
}

.block {
  margin-block: 1rem;
}

.search {
  margin: auto;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;

  .search__form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;

    input {
      background-color: transparent;
      border: none;
      outline: none;
      flex-grow: 1;
    }
  }
}

.search__filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  select {
    width: 100%;
  }
}

.skeleton {
  background-color: #adadad;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.gallery {
  min-height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  align-items: stretch;
  gap: 20px;

  img {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry 10% cover 40%;
    animation-fill-mode: both;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 16px;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}
