img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

main {
  min-height: 100dvh;
  max-width: 100dvw;
  padding: 1rem;
  background-color: #1a1a1a;
}

.block {
  margin-block: 1rem;
}

.search {
  padding: 0px 15px 0px 45px;
  font-size: 14px;
  background-color: #27292a;
  color: #ffffff;
  font-weight: 500;
  margin: auto;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px 15px;

  .search__form {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding-inline: 5px;

    input {
      background-color: transparent;
      border: none;
      outline: none;
      flex-grow: 1;
      font-size: 18px;
      padding-block: 5px;
      border-bottom: 1px solid #ffffff;
    }
  }
}

.search__filter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  background-color: #27292a;
  color: #ffffff;
  font-weight: 500;

  select {
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    outline: 0;
    border: 1px solid #ffffff;
    background-color: #27292a;
  }
}

.skeleton {
  background-color: #adadad;
  border-radius: 4px;
  animation: pulse 1.5s infinite;
}

.gallery {
  min-height: 100dvh;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  justify-items: center;
  align-items: stretch;
  gap: 20px;

  img {
    view-timeline-name: --image;
    view-timeline-axis: block;

    animation-timeline: --image;
    animation-name: show;

    animation-range: entry cover 40%;
    animation-fill-mode: both;
  }
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}

.pagination {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    border-radius: 16px;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        content: '';
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid white;
        border-top: 0.12em solid white;
      }

      &.left {
        transform: rotate(-135deg);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

.modal {
  background-color: #5e5e5e;
  width: 80%;
  height: 60%;
  margin: auto;
  inset: 0;
  z-index: 1000;
  position: fixed;
  display: flex;
  padding: 20px;
  border-radius: 10px;
}

.modal-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.modal-header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;

  .btn-close {
    padding: 10px 5px;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.modal-title {
  margin: 0;
  font-size: 1.25rem;
}

.modal-body {
  flex-grow: 1;

  figure {
    display: flex;
    flex-direction: row;
    gap: 20px;

    img {
      width: 300px;
      height: 300px;
    }
  }
}

.modal-footer {
}
